// Fonts
mainFont = 'freight-sans-pro'
otherFont = 'karmina'

//BG Pattern
BGPattern = url('/media/backgroundPattern.png')

// Jumbotron
JumbotronTint = rgba(black, 0.5)

//Colors
black= #2A2B32
grey= #7B8287
red= #D50A21
white= #FFF
otherGrey=#7D8388
