.ContactMini
  center(1165px)
  padding 0px 20px
  .Wrapper
    relative()
    size 100% 250px
    border-top: 2px solid black
    .Row
      align(b)
      size 300px auto
      .Pic
        column(1/3)
        img
          size auto auto
      .Details
        column(2/3)
        text-align: center
        h5
          h5()
          border-bottom: 1px solid black
        h4
          h4()
        i
          font-size: 20px
