.Featured
  size 100% auto
  .HeadWrapper
    center(1150px)
    .HeadSection
      display: block
      relative()
      margin auto 20px
      border-bottom 3px solid black
      height auto
      .Mobile
        size 100% 100%
        a
          color black
          hover-color grey true
          h3
            h3()
            margin auto
            line-height: 25px
            size 100% auto
            text-align center
      .Tablet
        size 100% 100%
        relative()
        h3
          h3()
          margin 10px auto
          line-height: 25px
          text-align center
        a
          color black
          hover-color grey true
          align(v)
          right 0px
          .all
            size 60px 25px
            relative()
            .text
              align(v)
              left 0px
              font-size: 16px
            i
              align(v)
              right 0px
              font-size: 25px
  .owl-carousel.owl-theme
    +below(767px)
      margin: 40px auto auto
      .owl-controls
        absolute top -30px
        margin auto
        size 100% auto
        .owl-page
          span
            size 8px 8px
            background: black
            opacity: 1
          &:hover
          &.active
            span
              background: red
    +above(768px)
      margin: 30px auto auto
      .owl-controls
        absolute top -60px right 100px
        // size 100% auto
        margin auto
        .owl-page
          span
            size 8px 8px
            background: black
            opacity: 1
          &:hover
          &.active
            span
              background: red
