.FootWrapper
  size 100% auto
  background-image: BGPattern
.Foot
  center(1070px)
  padding 0px 20px
  .Logo
    border-top: 2px solid black
    size 100% auto
    img
      size 100px auto
      margin 30px auto
      display: block
  .Copyright
    font-size: 16px
    text-align: center
    size 100% auto
    margin: auto
  .Developer
    font-size: 14px
    text-align: center
    padding 25px 0px 40px
    margin auto
    size 100% auto
