.Title
  size 100% 300px
  relative()
  .Markdown
    center(768px)
    align(b)
    size 100% auto
    // padding 0px 20px
    text-align: center
    line-height: 25px
    h1
      h1()
      line-height: 40px
    h2
      h2()
      line-height: 35px
    h3
      h3()
      line-height: 35px
    h4
      h4()
      line-height: 30px
    h5
      h5()
      line-height: 30px
    h6
      h6()
      line-height: 25px
    p
      normal()
