.Vibe
  size 100% auto
  padding 75px 0px
  .HeadWrapper
    center(1150px)
    .HeadSection
      display: block
      relative()
      margin auto 20px
      border-bottom 3px solid black
      height auto
      h3
        h3()
        margin 10px auto
        line-height: 25px
        text-align center
      a
        color black
        hover-color grey true
        align(v)
        right 0px
        .all
          display: block
          relative()
          color red
          hover-color grey true
          h5
            +below(767px)
              display: none
            float left
            font-size: 16px
            padding 5px 10px
          i
            float right
            font-size: 20px
            padding 5px 0px


  .Content
    center(1150px)
    padding 50px 20px
    .Markdown
      text-align: center
      h1
        h1()
      h2
        h2()
      h3
        h3()
      h4
        h4()
      h5
        h5()
      h6
        h6()
      p
        normal()
      em
        font-style: italic
      strong
        font-weight: bold


  .Pics
    center(1150px)
    .PicWrapper
      display: block
      size auto 300px
      padding 20px 20px
      float left
      .Pic
        display: block
        size 100% 100%
