.Communities
  relative()
  background-image BGPattern
  margin 20px auto auto
  z-index: 0
  .ExploreWrapper
    relative()
    size 100% 175px
    z-index: 10000
    .Explore
      align(b)
      +below(767px)
        text-align: center
      +above(768px)
        size 280px 30px
      .ExploreText
        font-weight: 700
        +below(767px)
          align(h)
          top -25px
        +above(768px)
          align(v)
          left 0px
      .Select
        relative()
        cursor: pointer
        size 180px 30px
        border 1px solid black
        +above(768px)
          align(v)
          right 0px
        &:hover
          background-color grey
          h5
          i
            color white
        h5
          align(v)
          left 10px
        i
          align(v)
          right 10px
          color red
      .SelectCommunity
        absolute top 30px right 0px
        size 180px auto
        overflow: hidden
        z-index: 100000
        .Community
          relative()
          z-index: 10000
          background-color white
          display: block
          cursor: pointer
          size 180px 30px
          border 1px solid black
          overflow: hidden
          h5
            color black
          &:hover
            background-color grey
            h5
            i
              color white
          h5
            align(v)
            left 10px
          i
            align(v)
            right 10px
            color red

  .CommunityWrapper
    relative()
    z-index: 1
