.Contact
  size 100% auto
  padding 0px 20px
  background-image: BGPattern
  .Mobile
    size 100% auto
    .HeadSection
      center()
      border-bottom 2px solid black
      margin auto
      h3
        h3()
        margin auto
        text-align: center
    .Content
      center(900px)
      margin: auto
      text-align: center
      .Cell
        span(1)
        height: 50px
        relative()
        a
          align(b)
          color red
          hover-color grey true
      .Email
        span(1)
        height: 50px
        relative()
        a
          align(b)
          size 170px 40px
          display: block
          color red
          hover-color grey true
          relative()
          .Icon
            align(v)
            left 0px
          .Text
            align(v)
            right 0px
      .Address
        span(1)
        height: 50px
        relative()
        a
          align(b)
          color red
          hover-color grey true
      .SocialMediaWrapper
        span(1)
        height: 50px
        relative()
        .SocialMedia
          align(b)
          size 100% auto
          a
            color red
            hover-color grey true
            span(1/3)
            i
              padding 5px
              margin auto


  .Tablet
    size 100% auto
    .HeadSection
      center(1030px)
      border-bottom 2px solid black
      margin auto
      h3
        h3()
        margin auto
        text-align: center
    .Content
      center(900px)
      margin: auto
      text-align: center
      .Cell
        span(1/4)
        height: 250px
        relative()
        a
          align(b)
          color red
          hover-color grey true
      .Email
        span(1/4)
        height: 250px
        relative()
        a
          align(b)
          size 170px 40px
          display: block
          color red
          hover-color grey true
          relative()
          .Icon
            align(v)
            left 0px
          .Text
            align(v)
            right 0px
      .Address
        span(1/4)
        height: 250px
        relative()
        a
          align(b)
          color red
          hover-color grey true
      .SocialMediaWrapper
        span(1/4)
        height: 250px
        relative()
        .SocialMedia
          align(b)
          size 100% auto
          a
            color red
            hover-color grey true
            span(1/3)
            i
              padding 5px
              margin auto

  .Office
    .HeadSection
      center(1030px)
      border-bottom 2px solid black
      margin auto
      h3
        h3()
        margin auto
        text-align: center
    .Content
      center(1030px)
      margin 20px auto
      .Poster
        margin 20px auto
        size 100% 300px
        display: block
      .Realty
        margin 50px auto
        overflow: hidden
        img
          border 1px solid otherGrey
          size 210px auto
          display: block
          margin auto
