.Property
  size 100% auto
  background-image: BGPattern
  .Mobile
    #jumbotron
      background-color: white
      size 100% 440px
      .owl-controls
        size 100% auto
        text-align: center
        .owl-page
          &:hover
          &.active
            span
              background-color red
          span
            background-color black
            opacity: 1
            size 8px 8px
      .Photo
        size 100% 400px
        padding 0px 20px
        .Pic
          display: block
          size 100% 400px
          relative()
          .Caption
            absolute bottom 0px left 0px
            background-color: rgba(red, 0.5)
            color white
            padding 10px 20px



  .Tablet
    margin: auto
    #jumbotron
      size 100% 730px
      background-color white
      .owl-controls
        absolute bottom 10px right 20px
        .owl-page
          &:hover
          &.active
            span
              background-color red
          span
            background-color black
            opacity: 1
            size 8px 8px
      .Photo
        size 100% 690px
        padding 0px 20px
        .Pic
          display: block
          size 100% 690px
          relative()
          .Caption
            absolute bottom 0px left 0px
            background-color: rgba(red, 0.5)
            color white
            padding 10px 20px
